{% extends 'base.html' %}
{% block css %}
<style>
.checkout_section ul.checkout_timeline{
    list-style: none;
    padding: 0 15px;
    display: block;
    margin: 0 0 1.5em;
}

.checkout_section ul.checkout_timeline li a{
    background-color: #112536;
    transition: all 0.5s ease;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 15px;
    font-weight: bold;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
}

.checkout_section ul.checkout_timeline li a.active{
    background-color: #953735;
}

a{
    color: #952f36;
}
.content p,.content address{
    color: rgba(51,55,69,0.7);
}

.content h3{
    margin-top: 0;
    font-size: 1.7em;
    line-height: 46px;
    margin-bottom: .5rem;
}

.form label{
    color: #333745;
    line-height: 1.5em;
    font-size: 1.077em;
    font-weight: bold;
    display: block;
}

.form label span{
    color: red;
}

.form .form-control{
    line-height: 1.3em;
    font-weight: bold;
    color: #333745;
    text-transform: none;
    margin-bottom: 2.5em;
}

.content .btn{
	display: inline-block;
    text-align: center;
    padding: .87em 3.288em;
    font-weight: 700;
    border: 2px solid #112536;
    text-transform: uppercase;
    border-radius: 1.8em;
    letter-spacing: 0.1em;
	color: #fff;
	background: #112536;
}

#payment_info ul{
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #ebe9eb;
    margin: 0;
    list-style: none outside;
    background-color: #ebe9eb;
    border-radius: 5px 5px 0 0;
}

#payment_info ul li{
    list-style: none;
    line-height: 2;
    text-align: left;
    margin: 0;
    font-weight: 400;
}

#payment_info ul li input{
    margin-right: 1em;
}

#payment_info ul li img{
    max-height: 52px;
    margin: 0 1em 0 .5em;
    vertical-align: middle;
}

#payment_info ul li label{
    display: inline-block;
    color: rgba(51, 55, 69, .7);
}

#payment_info ul.payment_methods li label a{
    font-size: .83em;
}

#payment_info a{
    color: #952f36;
}

#payment_info ul.payment_methods .payment_box{
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    font-size: .92em;
    border-radius: 2px;
    line-height: 1.5;
    background-color: #dfdcde;
    color: #515151;
    position: relative;
}

#payment_info ul.payment_methods .payment_box p{
    margin-bottom: 1.5em;
}

#payment_info ul.payment_methods .payment_box::before{
    content: "";
    display: block;
    border: 1em solid #dfdcde;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em;
}

#payment_info ul li.payment_method_creditcard label{
    display: inline;
}

#payment_info ul li.payment_method_creditcard img{
    max-width: 40px;
    margin: 0 .15em;
    vertical-align: middle;
}

#payment_info fieldset{
    padding: 15px 15px 0;
}

#payment_info fieldset label{
    font-weight: bold;
    color: #333745 !important;
    display: block;
}

#payment_info fieldset input.form-control{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px 0 45px;
    padding: 5px;
}

#payment_info fieldset label span{
    color: red;
}

.border{
    border-top: 1px solid #d3ced2;
    padding: 15px;
    background-color: #ebe9eb;
    border-radius: 0 0 5px 5px;
}

</style>
{%endblock%}
{% block content %}

<div class='scheme_original'>

    {% load static %}
    <section class="page_content_wrap">
        <div class="content_wrap">
            <h1 class="post_title entry-title"><span class="post_icon icon-book-open"></span>My Account</h1>
            <div class="checkout_section">
                <div class="vc_row">
                    <div class="vc_col-sm-4">
                        <ul class="checkout_timeline">
                            <li><a href='' class='active'>Dashboard</a></li>
                            <li><a href=''>Orders</a></li>
                            <li><a href=''>Downloads</a></li>
                            <li><a href=''>Addresses</a></li>
                            <li><a href=''>Payment methods</a></li>
                            <li><a href=''>Account details</a></li>
                            <li><a href=''>Bookings</a></li>
                            <li><a href=''>Logout</a></li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-8 p-0">
                        <div class="content">
                            <div id='payment_info'>
                                <form action="">
                                    <ul class="payment_methods">
                                        <li class="wc_payment_method payment_method_creditcard">
                                            <input type="radio" checked='checked' name="card" id="credit_card">
                                            <label for="credit_card">Credit Card <img src="{%static 'oscar/images/uploads/visa.svg'%}" alt=""> <img src="{%static 'oscar/images/uploads/mastercard.svg'%}" alt=""> <img src="{%static 'oscar/images/uploads/amex.svg'%}" alt=""></label>
                                            <div class="payment_box">
                                                <p>Pay with your credit card via Stripe.</p>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <label for="">Card Number <span>*</span></label>
                                                        <input type="text" class="form-control" placeholder="1234 1234 1234 1234">
                                                    </div>
                                                    <div class="vc_row">
                                                        <div class="vc_col-sm-6">
                                                            <div class="form-group">
                                                                <label for="">Expiry Date<span>*</span></label>
                                                                <input type="text" class="form-control" placeholder="MM / YY">
                                                            </div>
                                                        </div>
                                                        <div class="vc_col-sm-6">
                                                            <div class="form-group">
                                                                <label for="">Card Code (CVC)<span>*</span></label>
                                                                <input type="text" class="form-control" placeholder="CVC">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="border">
                                        <div class="cart">
                                            <div class="cart-info">The card number is incomplete.</div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn">Add payment method</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}