{% extends 'base.html' %}
{% block css %}
<style>
.checkout_section ul.checkout_timeline{
    list-style: none;
    padding: 0 15px;
    display: block;
    margin: 0 0 1.5em;
}

.checkout_section ul.checkout_timeline li a{
    background-color: #112536;
    transition: all 0.5s ease;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 15px;
    font-weight: bold;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
}

.checkout_section ul.checkout_timeline li a.active{
    background-color: #953735;
}

a{
    color: #952f36;
}
.content p,.content address{
    color: rgba(51,55,69,0.7);
}

.content h3{
    margin-top: 0;
    font-size: 1.7em;
    line-height: 46px;
    margin-bottom: .5rem;
}

.form label{
    color: #333745;
    line-height: 1.5em;
    font-size: 1.077em;
    font-weight: bold;
    display: block;
}

.form label span{
    color: red;
}

.form .form-control{
    line-height: 1.3em;
    font-weight: bold;
    color: #333745;
    text-transform: none;
    margin-bottom: 2.5em;
}

.content .btn{
	display: inline-block;
    text-align: center;
    padding: .87em 3.288em;
    font-weight: 700;
    border: 2px solid #112536;
    text-transform: uppercase;
    border-radius: 1.8em;
    letter-spacing: 0.1em;
	color: #fff;
	background: #112536;
}

</style>
{%endblock%}
{% block content %}

<div class='scheme_original'>

    {% load static %}
    <section class="page_content_wrap">
        <div class="content_wrap">
            <h1 class="post_title entry-title"><span class="post_icon icon-book-open"></span>My Account</h1>
            <div class="checkout_section">
                <div class="vc_row">
                    <div class="vc_col-sm-4">
                        <ul class="checkout_timeline">
                            <li><a href='' class='active'>Dashboard</a></li>
                            <li><a href=''>Orders</a></li>
                            <li><a href=''>Downloads</a></li>
                            <li><a href=''>Addresses</a></li>
                            <li><a href=''>Payment methods</a></li>
                            <li><a href=''>Account details</a></li>
                            <li><a href=''>Bookings</a></li>
                            <li><a href=''>Logout</a></li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-8 p-0">
                        <div class="content">
                            <h3>Billing address</h3>
                            <div class="address_form form">
                                <form action="" method="get">
                                    <div class="vc_row">
                                        <div class="vc_col-sm-6">
                                            <div class="form-group">
                                                <label for="">First Name <span>*</span></label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="vc_col-sm-6">
                                            <div class="form-group">
                                                <label for="">Last Name <span>*</span></label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Company Name (Optional)</label>
                                        <input type="text" class="form-control">
                                    </div> 
                                    <div class="form-group">
                                        <label for="">Country / Region <span>*</span></label>
                                        <select name="" id="" class="form-control">
                                            <option value="">India</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Street Address <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Apartment, suite, unit, etc. (optional)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Town/City <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">State /Country <span>*</span></label>
                                        <select name="" id="" class="form-control">
                                            <option value="">Uttar Pradesh</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Postalcode / ZIP <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Phone <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Email Address <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class=""><button type="submit" class="btn">Save address</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}