<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arpeggiato</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>  
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/oscar/css/fontello/css/fontello.css">
    <link rel='stylesheet' type="text/css" href="{% static 'oscar/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'oscar/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'oscar/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'oscar/css/animate.css' %}">
    {% block css %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'oscar/js/TimeCircles.js' %}"></script>
</head>

<body>
    <div class="header_top"></div>
    <header class="top_panel_wrap top_panel_style_6 scheme_original">
        <div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
            <div class="top_panel_middle">
                <div class="content_wrap">
                    <div class="contact_logo">
                        <div class="logo">
                            <a href="https://arpeggiato.com/"><img src="{%static 'oscar/images/uploads/Logo-with-full-word-White-Transparent-background.png' %}" class="logo_main" alt="Logo-with-full-word-White-Transparent-background" width="1443" height="732"></a>
                        </div>
                    </div>
                    <div class="menu_main_wrap">
                        <nav class="menu_main_nav_area">
                        <ul id="menu_main" class="menu_main_nav inited sf-js-enabled sf-arrows">
                            <li><a href="/home/">HOME</a></li>
                            <li><a href="/our-teachers/">TEACHERS</a></li>
                            <li><a href="/events/">EVENTS</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a>E-shop</a>
                                <ul class="sub-menu animated fast">
                                    <li>
                                        <a href="../music-arrangements/index.html">Music Arrangements</a></li>
                                    <li>
                                        <a href="../cd/index.html">CDs (download only)</a></li>
                                    <li>
                                        <a href="../masterclass_archive/index.html">Masterclass Archive</a></li>
                                    <li>
                                        <a href="../workshop-archive/index.html">Workshop Archive</a></li>
                                </ul>
                            </li>
                            <li><a href="/how-it-works/">HOW IT WORKS</a></li>
                            <li><a href="/about-us/">ABOUT US</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                            <li><a href="/contact/">CONTACT</a></li>
                            <li><a href="/profile/">DASHBOARD</a></li>
                            <li><a href="/inbox/">INBOX</a></li>
                            <li><a href="/accounts/logout/">LOG OUT</a></li>
                        </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="header_mobile">
        <div class="content_wrap">
            <div class="menu_button icon-menu"></div>
            <div class="logo">
                <a href="../index.html">
                <img src="{%static 'oscar/images/uploads/Logo-with-full-word-White-Transparent-background.png' %}" class="logo_main"></a>
            </div>
        </div>
        <div class="side_wrap">
            <div class="close">Close</div>
            <div class="panel_top">
                <nav class="menu_main_nav_area">
                    <ul id="menu_mobile" class="menu_main_nav">
                        <li><a href="../home/index.html">Home</a></li>
                        <li><a href="../our-teachers/index.html">Teachers</a></li>
                        <li><a href="../events/index.html">Events</a></li>
                        <li><a>E-shop</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="../music-arrangements/index.html">Music Arrangements</a></li>
                                <li>
                                    <a href="../cd/index.html">CDs (download only)</a></li>
                                <li>
                                    <a href="../masterclass_archive/index.html">Masterclass Archive</a></li>
                                <li>
                                    <a href="../workshop-archive/index.html">Workshop Archive</a></li>
                            </ul>
                        </li>
                        <li><a href="../how-it-works/index.html">HOW IT WORKS</a></li>
                        <li><a href="index.html" aria-current="page">About Us</a></li>
                        <li><a href="../faq/index.html">FAQ</a></li>
                        <li><a href="../contact/index.html">Contact</a></li>
                        <li><a href="../my-account/index.html">Log In</a></li>
                        <li><a href="../cart/index.html"><span class="dashicons dashicons-cart"></span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="panel_bottom">
            </div>
        </div>
        <div class="mask"></div>
    </div>
    <!-- <div class="content"> -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <div class="copyright_wrap copyright_style_socials">
        <div class="copyright_wrap_inner">
            <div class="content_wrap">
                <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                    <div class="sc_socials_item"><a href="https://www.facebook.com/ArpeggiatoMusic" target="_blank"
                            class="social_icons social_facebook"><span class="icon-facebook"></span></a></div>
                    <div class="sc_socials_item"><a href="https://twitter.com/ArpeggiatoMusic" target="_blank"
                            class="social_icons social_twitter"><span class="icon-twitter"></span></a></div>
                    <div class="sc_socials_item"><a
                            href="https://instagram.com/arpeggiato_musiconline?igshid=1beqv9glnvmtt" target="_blank"
                            class="social_icons social_instagramm"><span class="icon-instagramm"></span></a></div>
                    <div class="sc_socials_item"><a href="https://www.youtube.com/user/brandonacker" target="_blank"
                            class="social_icons social_youtube"><span class="icon-youtube"></span></a></div>
                </div>
                <div class="copyright_text">
                    <p><a href="#" target="_blank" rel="noopener">Arpeggiato</a> © 2021. All rights reserved <a
                            href="../terms-condition/index.html" target="_blank" rel="noopener">Terms of Use</a> and <a
                            href="../privacy-policy/index.html">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scroll_to_top icon-up show" title="Scroll to top"></a>
    <script>
        $(window).scroll(function () {
            var x = $(window).scrollTop();
            var height = $("header").height() + "px";
            if(x >= 200){
                $(".header_top").css("padding-bottom",height);
                $("header").addClass("sticky");
            }else if(x <= 200){
                $(".header_top").css("padding-bottom","");
                $("header").removeClass("sticky");
            }
        });
    </script>
    {% block js %} 
    {% endblock %}
</body>

</html>