{% extends 'base.html' %}


{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content_wrap">
        <div class="login_page">
            <div class="content_wrap">
                <h1 class='post_title'><span class="post_icon icon-book-open"></span>Cart</h1>
                <div class="cart">
                    <div class="cart-message">Nicely done!</div>
                    <p class="cart-empty cart-info">Your cart is currently empty.</p>
                    <div class="cart-info">
                        <strong>After purchasing, your arrangement will be attached at the bottom of the confirmation
                            email. If you do not receive that email, please check your spam folder before contacting
                            us.</strong>
                    </div>
                    <div class="cart-form">
                        <form action="" method="get">
                            <table class="shop_table">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class='product-remove'><a href="" class='remove'>×</a></td>
                                        <td class='product-thumbnail'><a href=""><img
                                                    src="{%static 'oscar/images/uploads/flower_duet_thumbnail-600x338.jpg' %}"></a>
                                        </td>
                                        <td class='product-name'><a
                                                href="https://arpeggiato.com/teachersbook/flower-duet-delibes/">Flower
                                                Duet from "Lakme" by Delibes</a></td>
                                        <td class='product-price'><span class="cart-price-amount">$7.00</span></td>
                                        <td class='product-quantity'>1</td>
                                        <td class='product-subtotal'><span class="cart-price-amount">$7.00</span></td>
                                    </tr>
                                    <tr>
                                        <td class='product-remove'><a href="" class='remove'>×</a></td>
                                        <td class='product-thumbnail'><a href=""><img
                                                    src="{%static 'oscar/images/uploads/flower_duet_thumbnail-600x338.jpg' %}"></a>
                                        </td>
                                        <td class='product-name'>
                                            <a href="">YOUR WEEKLY TEACHER, ALEC:</a>
                                            <dl class="variation">
                                                <dt class="variation-BookingDate">Booking Date:</dt>
                                                <dd class="variation-BookingDate"><p>September 5, 2021</p></dd>
                                                <dt class="variation-BookingTime">Booking Time:</dt>
                                                <dd class="variation-BookingTime"><p>2:00 pm</p></dd>
                                                <dt class="variation-PackofLessons">Pack of Lessons:</dt>
                                                <dd class="variation-PackofLessons"><p>Pack of 4 Lessons : $240</p></dd>
                                            </dl>
                                        </td>
                                        <td class='product-price'><span class="cart-price-amount">$7.00</span></td>
                                        <td class='product-quantity'>1</td>
                                        <td class='product-subtotal'><span class="cart-price-amount">$7.00</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class='actions'>
                                            <div class="coupon">
                                                <input type="text" name="coupon_code" class="input-text"
                                                    id="coupon_code" value="" placeholder="Coupon code">
                                                <button type="submit" class="btn button" name="apply_coupon"
                                                    value="Apply coupon">Apply coupon</button>
                                            </div>
                                            <button type="submit" class="btn button" name="update_cart"
                                                value="Update cart" disabled="disable" aria-disabled="true">Update
                                                cart</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    <div class="cart-collaterals">
                        <div class="cart_totals">
                            <table cellspacing="0" class="shop_table">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td data-title="Subtotal">$7.00</td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td data-title="Total">$7.00</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="checkout">
                                <a href="" class="button btn">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}