{% extends 'base.html' %}


{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content">
        <div class="contact_page">
            <div class="content_wrap">
                <div class="contact">
                    <div class="vc_row">
                        <div class="vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="contact_box">
                                    <h1 class="sc_title">Contact Us</h1>
                                    <div class="contact_form">
                                        <form action="" method="post">
                                            <div class="vc_row">
                                                <div class="vc_col-sm-6 vc_column-container">
                                                    <div class="vc_column-inner"><input type="text" placeholder="Name*" class="form-control"></div>
                                                </div>
                                                <div class="vc_col-sm-6 vc_column-container">
                                                    <div class="vc_column-inner"><input type="text" placeholder="Subject" class="form-control"></div>
                                                </div>
                                            </div>
                                            <input type="text" placeholder="E-mail*" class="form-control">
                                            <textarea name="" class='form-control' id="" cols="30" rows="3" placeholder="Message*"></textarea>
                                            <p><label for=""><input type="checkbox" name="acceptance-158" value="1" aria-invalid="false"> I agree that my submitted data is being collected and stored.</label></p>
                                            <img width="60" height="20" alt="captcha" src="https://arpeggiato.com/wp-content/uploads/wpcf7_captcha/1268031345.png"> <br> <input type="text" placeholder="Type The Code Shown*" class="form-control">
                                            <div class="aligncenter">
                                                <input type="submit" value="SEND MESSAGE" class="btn submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}