{% extends 'base.html' %}
{% block css %}
<style>

</style>
{%endblock%}
{% block content %}

<div class='scheme_original'>

    {% load static %}
    <section class="page_content_wrap">
        <div class="content_wrap">
            <div class="cart">
                <div class="cart-info cart-duplicate">You cannot add another "Flower Duet from "Lakme" by Delibes" to your cart. <a href="" class="btn view_cart">View Cart  </a></div>
            </div>
            <div class="DuplicateProduct">
                <div class="vc_row">
                    <div class="vc_col-sm-7">
                        <img src="{%static 'oscar/images/uploads/bg_yellow.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}