{% extends 'base.html' %}

{% block css %}

 #accordion .sc_accordion_content{
    display : none;
 }

 #accordion .active .sc_accordion_content {
    display : block;
 }

 .up {
    background-image: url("http://www.crm-newsletter.com/client-emails/images/arrowDown.png")
}
.down {
    background-image: url("http://www.crm-newsletter.com/client-emails/images/arrowDown.png")
}
 
{% endblock %}


{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content_wrap">
        <div class="faq_page">
            <div class="content_wrap">
                <div class="vc_row">
                    <div class="vc_column-container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <h2 class="vc_custom_heading">FAQ</h2>
                            <div class="vc_separator"></div>
                            <div class="ui-accordion" id="accordion">
                                {% for faq in faqs %}

                                    <div class="sc_accordion_item opened">
                                        <div class="acc-header">
                                            <h5 class="sc_accordion_title">
                                            <span id="chain" class='ui-accordion-header-icon'></span>
                                            <span class="sc_accordion_icon sc_accordion_icon_closed icon-down"></span>
                                            <span class="sc_items_counter">{{forloop.counter}}. </span> {{faq.question}}</h5>
                                        </div>
                                        <div class="sc_accordion_content">
                                            {% for answer in faq.get_answer_list %}
                                                <p>{{answer|safe }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}

<script>
    
    function initAccordion(accordionElem){

        
  
    //when panel is clicked, handlePanelClick is called.          
    function handlePanelClick(event){
        
        showPanel(event.currentTarget);
    }
    //Hide currentPanel and show new panel.  
    
    function showPanel(panel){
        //Hide current one. First time it will be null. 
        var expandedPanel = accordionElem.querySelector(".active");
        if (expandedPanel){
            expandedPanel.classList.remove("active");
        }
        //Show new one
        panel.classList.add("active");
        
    }
    var allPanelElems = accordionElem.querySelectorAll(".sc_accordion_item");
    for (var i = 0; i < allPanelElems.length;  i++){
        allPanelElems[i].addEventListener("click", handlePanelClick);
    }
    
    }

    initAccordion(document.getElementById("accordion"));





</script>


{% endblock %}