{% extends 'base.html' %}


{% block content %}

<div class='scheme_original'>

    {% load static %}
    <div class="single-post">
        <div class="page_content_wrap page_padding_yes">
            <div class="content_wrap">
                <div class="post_info">
                    <span class="post_info_item"><a href="" class="post_info_date">September 24, 2020</a></span>
                    <span class="post_info_item icon-user-light post_info_posted_by"> by <a href="">Arpeggiato</a></span>
                    <span class="post_info_item post_info_counters"><a href="" class="post_counters_item post_counters_comments icon-comment">0 comments</a></span>
                </div>
                <div class="post_featured">
                    <div class="post_thumb">
                        <a href="" class="hover_icon hover_icon_view inited">
                            <img class="wp-post-image" alt="Our team!" src="{%static 'oscar/images/uploads/Arpeggiato-full-team-Small600.png' %}">
                        </a>
                    </div>
                </div>
                <div class="post_content">
                    <h1 class="post_title entry-title"><span class="post_icon icon-book-open"></span> Our team!</h1>
                    <p>We’re very excited to present the full team of Arpeggiato!<br>From top to bottom, and from left to right:<br>Deanna, Mustafa, Salome, Jeff, Brandon and Meriem (the co-founders), Nanae, Braedon, Marisa and Marcus.<br>Feel free to browse “Our Teachers” page to know more about our wonderful instructors!<br> If you need help finding the perfect teacher for you, please write to us (“Contact” tab).</p>
                </div>
                <div class="comments_wrap">
                    <div class="comments_form_wrap">
                        <h1 class="section_title comments_form_title">Add Comment</h1>
                        <div class="comments_form">
                            <div class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/here-we-are/#respond" style="display:none;">Cancel reply</a></small></h3>
                                <form action="">
                                    <div class="comments_field comments_message">
                                        <textarea id="comment" name="comment" placeholder="Comment *" aria-required="true" spellcheck="false"></textarea>
                                    </div>
                                    <p class="form-submit"><input name="submit" type="submit" id="send_comment" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="623" id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}