{% extends 'base.html' %}


{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content_wrap">
        <div class="login_page">
            <div class="content_wrap">
                <h1 class='post_title'><span class="post_icon icon-book-open"></span>My Account</h1>
                <div class="vc_row">
                    <div class="vc_column-container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <h2>Login</h2>
                            <div class="login sign_form">
                                <form action="" method="get">
                                    <div class="form-group">
                                        <label for="">Username Or Email Address <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password <span>*</span></label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group"><input type="submit" value="Log In" class="btn submit"> <label for=""><input type="checkbox" name="" id=""> Remember Me</label></div>
                                    <p><a href="">Lost your password?</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="vc_column-container vc_col-sm-6">
                        <div class="vc_column-inner">
                            <h2>Register</h2>
                            <div class="login sign_form">
                                <form action="" method="get">
                                    <div class="form-group">
                                        <label for="">Email Address <span>*</span></label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Password <span>*</span></label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="">privacy policy.</a></p>
                                    <div class="form-group"><input type="submit" value="Register" class="btn submit"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}