{% extends 'base.html' %}
{% block css %}
<style>
.lost-password{
    color: rgba(51,55,69,0.7);
}

.lost-password form label{
    line-height: 1.5em;
    font-size: 1.077em;
    font-weight: bold;
    text-transform: capitalize;
    color: #333745;
    display: block;
}

.lost-password form input.form-control{
    text-transform: none;
    max-width: 465px;
}

.lost-password form button.button{
    display: inline-block;
    text-align: center;
    padding: 1em 2.7em;
    font-weight: 700;
    border: 2px solid #112536;
    text-transform: uppercase;
    border-radius: 1.8em;
    letter-spacing: 0.1em;
}
</style>
{%endblock%}
{% block content %}

<div class='scheme_original'>
    {% load static %}
    <section class="page_content_wrap lost-password">
        <div class="content_wrap">
            <h1 class="post_title entry-title"><span class="post_icon icon-book-open"></span>My Account</h1>
            <form action="" class="woocommerce-ResetPassword lost_reset_password">
                <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
                <p class="form-row">
                    <label for="user_login">Username or email</label>
                    <input type="text" autocomplete="username" class='form-control'>
                </p>
                <p class="form-row">
                    <button type="submit" class="woocommerce-Button button" value="Reset password">Reset password</button>
                </p>
            </form>
        </div>
    </section>
    {% endblock %}