{% extends 'base.html' %}
{% block css %}
<style>
.checkout_section ul.checkout_timeline{
    list-style: none;
    padding: 0 15px;
    display: block;
    margin: 0 0 1.5em;
}

.checkout_section ul.checkout_timeline li a{
    background-color: #112536;
    transition: all 0.5s ease;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 15px;
    font-weight: bold;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
}

.checkout_section ul.checkout_timeline li a.active{
    background-color: #953735;
}

.content .btn{
	display: inline-block;
    text-align: center;
    padding: .87em 3.288em;
    font-weight: 700;
    border: 2px solid !important;
    text-transform: uppercase;
    border-radius: 1.8em;
    letter-spacing: 0.1em;
	color: #fff !important;
	background: #112536;
	float: right;
}

a{
    color: #952f36;
}
.content p,.content address{
    color: rgba(51,55,69,0.7);
}

.content h3{
    margin-top: 0;
    font-size: 1.7em;
    line-height: 46px;
    margin-bottom: .5rem;
}

</style>
{%endblock%}
{% block content %}

<div class='scheme_original'>

    {% load static %}
    <section class="page_content_wrap">
        <div class="content_wrap">
            <h1 class="post_title entry-title"><span class="post_icon icon-book-open"></span>My Account</h1>
            <div class="checkout_section">
                <div class="vc_row">
                    <div class="vc_col-sm-4">
                        <ul class="checkout_timeline">
                            <li><a href='' class='active'>Dashboard</a></li>
                            <li><a href=''>Orders</a></li>
                            <li><a href=''>Downloads</a></li>
                            <li><a href=''>Addresses</a></li>
                            <li><a href=''>Payment methods</a></li>
                            <li><a href=''>Account details</a></li>
                            <li><a href=''>Bookings</a></li>
                            <li><a href=''>Logout</a></li>
                        </ul>
                    </div>
                    <div class="vc_col-sm-8 p-0">
                        <div class="content dashboard">
                            <p>Hello <strong>utkarsh</strong> (not <strong>utkarsh</strong>? <a href="">Log out</a>)</p>
                            <p>From your account dashboard you can view your <a href="">recent orders</a>, manage your <a href="">shipping and billing addresses</a>, and <a href="">edit your password and account details</a>.</p>
                        </div>
                        <div class="content orders">
                            <div class="cart">
                                <div class="cart-message">No order has been made yet. <a href="" class="btn">Browse Products</a></div>
                            </div>
                        </div>
                        <div class="content downloads">
                            <div class="cart">
                                <div class="cart-info">No downloads available yet. <a href="" class="btn">Browse Products</a></div>
                            </div>
                        </div>
                        <div class="content addresses">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <div class="vc_row">
                                <div class="vc_col-sm-6">
                                    <div class="clear">
                                        <h3 class='d-inline-block'>Billing address</h3><button class="btn">Add</button>
                                    </div>
                                    <p>You have not set up this type of address yet.</p>
                                    <address> Utkarsh Saxena<br>Noida<br>Noida 203131<br>Uttar Pradesh, India</address>
                                </div>
                                <div class="vc_col-sm-6">
                                    <div class="clear">
                                        <h3 class="d-inline-block">Shipping address</h3>
                                        <button class="btn">Add</button>
                                    </div>
                                    <p>You have not set up this type of address yet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="content addresses">
                            <p>The following addresses will be used on the checkout page by default.</p>
                        </div>
                        <div class="content payment">
                            <div class="cart">
                                <div class="cart-info">No downloads available yet.</div> <a href="" class="btn float-none mb-3">Add payment method</a>
                            </div>
                        </div>
                        <div class="content downloads">
                            <div class="cart">
                                <div class="cart-info">No booking available yet. <a href="" class="btn">Go shop</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}