{% extends 'base.html' %}
{% block css %}
<style>
    .order-confirm{
        border: 1px solid #ccc;
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        padding: 45px 30px;
        border-radius:8px;
        max-width: 640px;
        margin: auto;
    }
    .order-confirm h2{
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 15px;
    }
    .success{
        color: green;
    }
    .waiting{
        color: #ffee00;
    }
    .danger{
        color: red;
    }
    .order-confirm h4{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .order-confirm h6{
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #212121;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 0;
    }
    .order-confirm h5{
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 10px;
        text-transform: none;
    }
    .order-confirm p{
        font-size: 16px;
    }
    table.shop_table{
        border: 0;
        text-align: left;
        width: 100%;
        border-collapse: separate;
        border-radius: 5px;
        margin-bottom: 1.5rem;
    }

    table.shop_table thead th{
        border: 1px solid #000;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.077em;
        padding: 1em .8em;
        font-weight: 600;
        text-align: left;
    }

    table.shop_table thead th:first-of-type{
        text-align: right;
        border-right: 0;
    }

    table.shop_table td{
        border: 1px solid #000;
        border-top: none;
        padding: 9px 12px;
        vertical-align: middle;
        line-height: 1.5em;
    }

    table.shop_table td:first-child{
        border-right: 0;
        text-align: right;
    }

    table.shop_table td.product-name{
        color: #59c6bc;
    }

    table.shop_table td.subtotal{
        color: rgba(70, 71, 75, 0.7);
        font-size: 1.5384em;
    }

    table.shop_table td.total,
    table.shop_table td.total_text{
        font-size: 1.5384em;
        color: #112536;
        font-weight: bold;
    }

    a.continue{
        width: 100%;
        padding: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: #112536;
        color: #fff;
        display: block;
        text-transform: uppercase;
        border-radius: 50px;
    }
    @media screen and (max-width: 767px) {
        .order-confirm{
            padding: 15px;
        }
    }
</style>
{%endblock%}    
{% block content %}

<div class='scheme_original'>

    {% load static %}
    <section class="page_content_wrap">
        <div class="content_wrap">
            <div class="order-confirm">
                <h2 class="success">Thanks for your order!</h2>
                <h4>Hi Utkarsh Saxena,</h4>
                <p>We are delighted that you have found something you like! <br>As soon as your package on the way, you will receive a dilevery confirmation from us by email.</p>
                <h6>Delivery Address</h6>
                <h5>Utkarsh Saxena <br> Vill - Dharaun, Post - Bichoula, Teh - Khurja, Distt - Bulandshahr (203131) <br> Khurja, Uttar Pradesh, 203131</h5>
                <h6>Mobile number</h6>
                <h5>+91 123 456 7890</h5>
                <div class="overflow-auto">
                    <table class="shop_table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='product-name'>Flower Duet from "Lakme" by Delibes  <strong>× 1</strong></td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Payment Method</td>
                                <td>Credit / Debit Card</td>
                            </tr>
                            <tr>
                                <td>Sub-Total</td>
                                <td class='subtotal'>&dollar;24.00</td>
                            </tr>
                            <tr>
                                <td>Shipping Fee</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td class="total_text">Total</td>
                                <td class='total'>$24.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <a href="" class="continue">Continue shopping</a>
            </div>
        </div>
    </section>
    <section class="page_content_wrap">
        <div class="content_wrap">
            <div class="order-confirm">
                <h2 class="waiting">Thanks for your order!</h2>
                <h4>Hi Utkarsh Saxena,</h4>
                <p class="waiting">Please wait, your order is on wait. We will confirm it ASAP.</p>
                <h6>Delivery Address</h6>
                <h5>Utkarsh Saxena <br> Vill - Dharaun, Post - Bichoula, Teh - Khurja, Distt - Bulandshahr (203131) <br> Khurja, Uttar Pradesh, 203131</h5>
                <h6>Mobile number</h6>
                <h5>+91 123 456 7890</h5>
                <div class="overflow-auto">
                    <table class="shop_table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='product-name'>Flower Duet from "Lakme" by Delibes  <strong>× 1</strong></td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Payment Method</td>
                                <td>Credit / Debit Card</td>
                            </tr>
                            <tr>
                                <td>Sub-Total</td>
                                <td class='subtotal'>&dollar;24.00</td>
                            </tr>
                            <tr>
                                <td>Shipping Fee</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td class="total_text">Total</td>
                                <td class='total'>$24.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <a href="" class="continue">Back to shop</a>
            </div>
        </div>
    </section>
    <section class="page_content_wrap">
        <div class="content_wrap">
            <div class="order-confirm">
                <h2 class="danger">Thanks for your order!</h2>
                <h4>Hi Utkarsh Saxena,</h4>
                <p>We are sorry, your order unfortnetely could not completed.</p>
                <a href="" class="continue">Re - shop</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}