{% extends 'base.html' %}
{% block css %}
<style>
.vc_empty_space{
    height: 4em;
}

.vc_empty_space_big{
    height: 5.39em;
}
.custom_background{
    background-color: #f7f8f9;
}

.privacy_policy a{
    color: #952f36;
}

.privacy_policy{
    color: rgba(51,55,69,0.7);
}
</style>
{%endblock%}    
{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content_wrap privacy_policy">
        <div class="content_wrap">
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>1. INTRODUCTION</h5>
                        <p>AncoraThemes (website url address: <a href="http://ancorathemes.com/"> http://ancorathemes.com/</a>/) appreciates your business and trust. We are Cyprus based company, creating products to enhance your website building experience. Please read this Privacy Policy, providing consent to both documents in order to have permission to use our services.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>2. DATA COLLECTED</h5>
                        <h6>DATA STORAGE LOCATION</h6>
                        <p>We are Cyprus based company and operate web servers hosted in Germany. Our hosting provider Hetzner Online GmbH adheres to the EU/US “Privacy Shield”, ensuring that your data is securely stored and GDPR compliant. For more information on Hetzner Online GmbH privacy policy, please see here: <a href="https://www.hetzner.com/rechtliches/datenschutz">Hetzner Data Privacy Policy</a></p>
                        <h6>REGISTRATION DATA</h6>
                        <p>If you register on our website, we store your chosen username and your email address and any additional personal information added to your user profile. You can see, edit, or delete your personal information at any time (except changing your username). Website administrators can also see and edit this information. <br>We are Cyprus based company and operate web servers hosted in Germany. Our hosting provider Hetzner Online GmbH adheres to the EU/US “Privacy Shield”, ensuring that your data is securely stored and GDPR compliant. For more information on Hetzner Online GmbH privacy policy, please see here: <a href="">Hetzner Data Privacy Policy</a>.</p>
                        <h6>PURCHASE DATA</h6>
                        <p>To receive product support, you have to have one or more Envato/AncoraThemes purchase codes on our website. These purchase codes will be stored together with support expiration dates and your user data. This is required for us to provide you with downloads, product support and other customer services.</p>
                        <h6>SUPPORT DATA</h6>
                        <p>If you have registered on our website and have a valid support account, you can submit support tickets for assistance. Support form submissions are sent to our third party Ticksy ticketing system. Only the data you explicitly provided is sent, and you are asked for consent, each time you want to create a new support ticket. Ticksy adheres to the EU/US “Privacy Shield” and you can see their privacy policy here: <a href="">Ticksy Privacy Policy</a>.</p>
                        <h6>COMMENTS</h6>
                        <p>When you leave comments on the website we collect the data shown in the comments form, and also the IP address and browser user agent string to help spam detection.</p>
                        <h6>CONTACT FORM</h6>
                        <p>Information submitted through the contact form on our site is sent to our company email, hosted by Zoho. Zoho adheres to the EU/US “Privacy Shield” policy and you can find more information about this here: <a href="">Zoho Privacy Policy</a>.</p>
                        <p>These submissions are only kept for customer service purposes they are never used for marketing purposes or shared with third parties.</p>
                        <h6>GOOGLE ANALYTICS</h6>
                        <p>We use Google Analytics on our site for anonymous reporting of site usage. So, no personalized data is stored. If you would like to opt-out of Google Analytics monitoring your behavior on our website please use this link: <a href="">Google Analytics Opt-out</a>.</p>
                        <h6>CASES FOR USING THE PERSONAL DATA</h6>
                        <p><strong>We use your personal information in the following cases:</strong></p>
                        <ul>
                            <li>Verification/identification of the user during website usage;</li>
                            <li>Providing Technical Assistance;</li>
                            <li>Sending updates to our users with important information to inform about news/changes;</li>
                            <li>Checking the accounts’ activity in order to prevent fraudulent transactions and ensure the security</li>
                            <li>over our customers’ personal information;</li>
                            <li>Customize the website to make your experience more personal and engaging;</li>
                            <li>Guarantee overall performance and administrative functions run smoothly.</li>
                        </ul>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>3. EMBEDDED CONTENT</h5>
                        <p>Pages on this site may include embedded content, like YouTube videos, for example. Embedded content from other websites behaves in the exact same way as if you visited the other website.</p>
                        <p>These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged-in to that website. Below you can find a list of the services we use:</p>
                        <h6>FACEBOOK</h6>
                        <p>The Facebook page plugin is used to display our Facebook timeline on our site. Facebook has its own cookie and privacy policies over which we have no control. There is no installation of cookies from Facebook and your IP is not sent to a Facebook server until you consent to it. See their privacy policy here: <a href="">Facebook Privacy Policy</a>.</p>
                        <h6>TWITTER</h6>
                        <p>We use the Twitter API to display our tweets timeline on our site. Twitter has its own cookie and privacy policies over which we have no control. Your IP is not sent to a Twitter server until you consent to it. See their privacy policy here: <a href="">Twitter Privacy Policy</a>.</p>
                        <h6>YOUTUBE</h6>
                        <p>We use YouTube videos embedded on our site. YouTube has its own cookie and privacy policies over which we have no control. There is no installation of cookies from YouTube and your IP is not sent to a YouTube server until you consent to it. See their privacy policy here: <a href="">YouTube Privacy Policy</a></p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>4. COOKIES</h5>
                        <p>This site uses cookies – small text files that are placed on your machine to help the site provide a better user experience. In general, cookies are used to retain user preferences, store information for things like shopping carts, and provide anonymized tracking data to third party applications like Google Analytics. Cookies generally exist to make your browsing experience better. However, you may prefer to disable cookies on this site and on others. The most effective way to do this is to disable cookies in your browser. We suggest consulting the help section of your browser.</p>
                        <h6>NECESSARY COOKIES (ALL SITE VISITORS)</h6>
                        <ul>
                            <li><b>cfduid:</b>Is used for our CDN CloudFlare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. See more information on privacy here: <a href="https://www.cloudflare.com/privacypolicy/">CloudFlare Privacy Policy</a></li>
                            <li><b>PHPSESSID:</b>To identify your unique session on the website.</li>
                        </ul>
                        <h6>NECESSARY COOKIES (ADDITIONAL FOR LOGGED IN CUSTOMERS)</h6>
                        <ul>
                            <li><b>wp-auth: </b>Used by WordPress to authenticate logged-in visitors, password authentication and user verification.</li>
                            <li><b>wordpress_logged_in_{hash}: </b>Used by WordPress to authenticate logged-in visitors, password authentication and user verification.</li>
                            <li><b>wordpress_test_cookie </b>Used by WordPress to ensure cookies are working correctly.</li>
                            <li><b>wp-settings-[UID]: </b>WordPress sets a few wp-settings-[UID] cookies. The number on the end is your individual user ID from the users database table. This is used to customize your view of admin interface, and possibly also the main site interface.</li>
                            <li><b>wp-settings-[UID]:</b>WordPress also sets a few wp-settings-{time}-[UID] cookies. The number on the end is your individual user ID from the users database table. This is used to customize your view of admin interface, and possibly also the main site interface.</li>
                        </ul>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>5. WHO HAS ACCESS TO YOUR DATA</h5>
                        <p>If you are not a registered client for our site, there is no personal information we can retain or view regarding yourself.</p>
                        <p>If you are a client with a registered account, your personal information can be accessed by:</p>
                        <ul>
                            <li>Our system administrators.</li>
                            <li>Our supporters when they (in order to provide support) need to get the information about the client accounts and access.</li>
                        </ul>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>6. THIRD PARTY ACCESS TO YOUR DATA</h5>
                        <p>We don’t share your data with third-parties in a way as to reveal any of your personal information like email, name, etc. The only exceptions to that rule are for partners we have to share limited data with in order to provide the services you expect from us. Please see below:</p>
                        <h6>ENVATO PTY LTD</h6>
                        <p>For the purpose of validating and getting your purchase information regarding licenses for our theme, we send your provided tokens and purchase keys to Envato Pty Ltd and use the response from their API to register your validated support data. See the Envato privacy policy here: <a href="">Envato Privacy Policy</a>.</p>
                        <h6>TICKSY</h6>
                        <p>Ticksy provides the support ticketing platform we use to handle support requests. The data they receive is limited to the data you explicitly provide and consent to being set when you create a support ticket. Ticksy adheres to the EU/US “Privacy Shield” and you can see their privacy policy here: <a href="">Ticksy Privacy Policy</a>.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>7. HOW LONG WE RETAIN YOUR DATA</h5>
                        <p>When you submit a support ticket or a comment, its metadata is retained until (if) you tell us to remove it. We use this data so that we can recognize you and approve your comments automatically instead of holding them for moderation.</p>
                        <p>If you register on our website, we also store the personal information you provide in your user profile. You can see, edit, or delete your personal information at any time (except changing your username). Website administrators can also see and edit that information.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>8. SECURITY MEASURES</h5>
                        <p>We use the SSL/HTTPS protocol throughout our site. This encrypts our user communications with the servers so that personal identifiable information is not captured/hijacked by third parties without authorization.</p>
                        <p>In case of a data breach, system administrators will immediately take all needed steps to ensure system integrity, will contact affected users and will attempt to reset passwords if needed.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>9. YOUR DATA RIGHTS</h5>
                        <h6>GENERAL RIGHTS</h6>
                        <p>If you have a registered account on this website or have left comments, you can request an exported file of the personal data we retain, including any additional data you have provided to us.</p>
                        <p>You can also request that we erase any of the personal data we have stored. This does not include any data we are obliged to keep for administrative, legal, or security purposes. In short, we cannot erase data that is vital to you being an active customer (i.e. basic account information like an email address).</p>
                        <p>If you wish that all of your data is erased, we will no longer be able to offer any support or other product-related services to you.</p>
                        <h6>GDPR RIGHTS</h6>
                        <p>Your privacy is critically important to us. Going forward with the GDPR we aim to support the GDPR standard. AncoraThemes permits residents of the European Union to use its Service. Therefore, it is the intent of AncoraThemes to comply with the European General Data Protection Regulation. For more details please see here: <a href="">EU GDPR Information Portal</a>.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>10. THIRD PARTY WEBSITES</h5>
                        <p>AncoraThemes may post links to third party websites on this website. These third party websites are not screened for privacy or security compliance by AncoraThemes, and you release us from any liability for the conduct of these third party websites.</p>
                        <p>All social media sharing links, either displayed as text links or social media icons do not connect you to any of the associated third parties, unless you explicitly click on them.</p>
                        <p>Please be aware that this Privacy Policy, and any other policies in place, in addition to any amendments, does not create rights enforceable by third parties or require disclosure of any personal information relating to members of the Service or Site. AncoraThemes bears no responsibility for the information collected or used by any advertiser or third party website. Please review the privacy policy and terms of service for each site you visit through third party links.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>11. RELEASE OF YOUR DATA FOR LEGAL PURPOSES</h5>
                        <p>At times it may become necessary or desirable to AncoraThemes, for legal purposes, to release your information in response to a request from a government agency or a private litigant. You agree that we may disclose your information to a third party where we believe, in good faith, that it is desirable to do so for the purposes of a civil action, criminal investigation, or other legal matter. In the event that we receive a subpoena affecting your privacy, we may elect to notify you to give you an opportunity to file a motion to quash the subpoena, or we may attempt to quash it ourselves, but we are not obligated to do either. We may also proactively report you, and release your information to, third parties where we believe that it is prudent to do so for legal reasons, such as our belief that you have engaged in fraudulent activities. You release us from any damages that may arise from or relate to the release of your information to a request from law enforcement agencies or private litigants.</p>
                        <p>Any passing on of personal data for legal purposes will only be done in compliance with laws of the country you reside in.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
            <div class="vc_row">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space_big"></div>
                    </div>
                </div>
            </div>
            <div class="vc_row vc_row-has-fill custom_background">
                <div class="vc_col-sm-12 vc_column_container">
                    <div class="vc_column-inner">
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                        <h5>12. AMENDMENTS</h5>
                        <p>We may amend this Privacy Policy from time to time. When we amend this Privacy Policy, we will update this page accordingly and require you to accept the amendments in order to be permitted to continue using our services.</p>
                        <div class="vc_empty_space"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}