{% extends 'base.html' %}
{% block css %}
<style>
.terms_condition img.middle{
	display: block;
	width: auto;
	margin: 1em auto 0;
}

.terms_condition h4{
	margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 0.03em;
	font-weight: bold;
}

.terms_condition p{
	font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    padding-bottom: 10px;
	color: rgba(51,55,69,0.7);
}

.terms_condition ol{
	list-style-type: decimal;
    padding-left: 1.5em;
}

.terms_condition ul li,
.terms_condition ol li{
	font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
	color: rgba(51,55,69,0.7);
    margin-bottom: 0;
    padding-bottom: 10px;
}

.terms_condition ol li{
	list-style-type: none;
}
</style>
{%endblock%}    
{% block content %}

<div class='scheme_original'>

    {% load static %}

    <section class="page_content_wrap terms_condition">
        <div class="content_wrap">
            <div class="vc_row">
                <div class="vc_col-sm-12">
                    <img src="{%static 'oscar/images/uploads/Logo-with-full-word-White-Transparent-black-300x152.png' %}" class="middle" alt="">
                    <h4>Terms of Use for ARPEGGIATO STUDENTS</h4>
                    <p>Welcome to ARPEGGIATO (the <strong>“School”</strong> or <strong>“Website”</strong>), an online school operated by ARPEGGIATO, LLC. (hereafter “us” “we” “our” or <strong>“ARPEGGIATO”</strong>) connecting students (<strong>“Students”</strong>) with a network of independent contractor instruction providers (hereafter<strong> “Teachers”</strong>). This Terms of Use (the <strong>“Agreement”</strong>) binds you or the entity you represent (“you” or “your”) to the terms and conditions set forth herein when you use or access our database of students (actual or potential), Website or any of our software, applications, sites, materials, products, tools and other offerings (collectively, the<strong> “Services”</strong>). If you wish to use our Services, you must read, comply with and agree to be bound by the terms of this Agreement. If you object to anything in this Agreement, do not use our Services.</p>
                    <h4>1. Acceptance of Terms of Use Agreement</h4>
                    <p>This Agreement is an electronic contract that sets out the legally binding terms of your use of our Services, if you are registered as a <strong>“Student”</strong>. This Agreement includes Student Policies, our billing policies and any further terms of use for our Services, which are all incorporated herein by reference. This Agreement may be modified by us from time to time, such modifications to be effective when provided in writing or upon posting within our Services. Certain parts of our Services may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between this Agreement and terms and conditions posted for a specific area of or within our Services, the latter terms and conditions will take precedence with respect to your use of or access to that specific Service, but this Agreement shall still apply to our legal relationship.</p>
                    <h4>2. Eligibility</h4>
                    <p>Use of our Services is void where prohibited. Any access to or use of our Services by anyone under the age of majority is expressly prohibited and requires consent to this Agreement by a parent or legal guardian. By using our Services, you represent and warrant to us that you are either a legal adult or, if under the age of majority, have obtained proper consent from a parent or legal guardian. If you use our Services on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to this Agreement. By using our Services, you represent and warrant that you have the right, authority and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement.</p>
                    <h4>3. How ARPEGGIATO Works</h4>
                    <p>We are an online marketplace for Students and a network of independent Teachers. We do not endorse, hire or employ the Teachers nor are we responsible or liable for any interactions involved between Teachers and their respective Students. Teachers and Students are solely responsible for all interactions, conversations, and any form of communication and behavior happening between each other.<br>For Students, we provide a marketplace to find a Teacher and schedule lessons and other services ancillary thereto. From time to time, we may provide new or temporary Services, such as on demand tutoring, group lessons, workshops and masterclasse and other products, materials and services that may or may not be limited to Students. We reserve the right to restrict any Services only to Students and discontinue any product or Services at will. If a particular Teacher, product or Service is discontinued or unavailable, we reserve the right to provide substitute Teacher, product or Service</p>
                    <h4>4. Students of ARPEGGIATO</h4>
                    <p>You must be at least eighteen (18) years old to be an ARPEGGIATO Student. As a Student, you will have the ability to book and pay for lessons, manage your lesson schedule, communicate with Teachers, access help documents and use any other Services provided to Students. As a Student Member you must continually comply with this Agreement and the Student Policies set forth here. Additional terms and conditions of service may be contained within your Student Member account.</p>
                    <h4>5. General Disclaimer.</h4>
                    <p>We disclaim all, and assume no responsibility for, evaluating or verifying the accuracy, suitability, truthfulness or authenticity of any information contained within any information posted or provided by a Teacher or a Student. We assume no responsibility for ensuring a Teacher or Sudent compliance with any applicable laws, rules and regulations or this Agreement. We have not inspected the location where any instruction will be provided. We are not responsible for the conduct, whether online or offline, of any user of our Services. Under no circumstances will we or any of our employees, officers, agents, advertisers or affiliates be responsible for any loss or damage, including personal injury or death, resulting from anyone’s use of the Website or our Services, any content posted on the Website or transmitted to Students or Teachers, or any interactions between users of our Services, whether online or offline. We cannot guarantee and do not promise any specific results from use of our Services.</p>
                    <p>Our Services may require Students to have a computer and a sustained and reliable internet connection. We do not provide refunds for technical failures, power outages or unreliable internet connections beyond our control.<br>Our Services may give you access to links to third-party websites (“Third Party Sites”), either directly or through Teachers. We not endorse any of these Third Party Sites and do not control them in any manner. Accordingly, we do not assume any liability associated with Third Party Sites. You need to take appropriate steps to determine whether accessing a Third Party Site is appropriate, and to protect your personal information and privacy on such Third Party Site.</p>
                    <p>We do not accept responsibility or liability for any content, communication or other use or access of our Services by persons under the age of majority in violation of this Agreement. Also, it is possible that other users (including unauthorized users, or “hackers”) may post or transmit offensive or obscene materials using our Services and that you may be involuntarily exposed to such offensive and obscene materials. It also is remotely possible for others to obtain personal information about you due to your use of our Services, and that the recipient may use such information to harass or injure you. We are not responsible for the use of any personal information that you disclose using our Services. Please carefully select the type of information that you post on the Website or release to others using our Services. WE DISCLAIM ALL LIABILITY, REGARDLESS OF THE FORM OF ACTION, FOR THE ACTS OR OMISSIONS OF OTHER MEMBERS OR USERS (INCLUDING UNAUTHORIZED USERS), WHETHER SUCH ACTS OR OMISSIONS OCCUR DURING THE USE OF THE WEBSITE, OUR SERVICES OR OTHERWISE.</p>
                    <p>OUR WEBSITE, CONTENT, SUBMITTED CONTENT, COURSES, AND ANY OTHER MATERIALS MADE AVAILABLE ON OR THROUGH THE USE OF OUR SERVICES ARE PROVIDED “AS IS,” WITHOUT ANY WARRANTIES OF ANY KIND AND, TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, WE HEREBY DISCLAIM ALL SUCH WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, ACCURACY, FREEDOM FROM ERRORS, SUITABILITY OF CONTENT, OR AVAILABILITY.</p>
                    <h4>6. Code of Conduct.</h4>
                    <p>While using our Services you agree not to:</p>
                    <ul>
                        <li>Restrict or inhibit any other visitor from using our Services, including, without limitation, by means of “hacking” or “cracking” or defacing any portion of our Services;</li>
                        <li>Use our Services for any unlawful purpose;</li>
                        <li>Express or imply that any statements you make are endorsed by us, without our prior written consent;</li>
                        <li>Transmit (a) any content, language, imagery, or information that is unlawful, fraudulent, threatening, harassing, abusive, libelous, defamatory, obscene or otherwise objectionable, or infringes on our or any third party’s intellectual property or other rights; (b) any material, non-public information about companies without the authorization to do so; (c) any trade secret of any third party; or (d) any advertisements, solicitations, chain letters, pyramid schemes, investment opportunities, or other unsolicited commercial communication (except as otherwise expressly permitted by us);</li>
                        <li>Engage in spamming or flooding;</li>
                        <li>Breach or circumvent any laws, third-party rights or our systems, policies, or determinations of your account status;</li>
                        <li>Transmit any software or other materials that contain any virus, worm, time bomb, Trojan horse, or other harmful or disruptive component;</li>
                        <li>Modify, adapt, sublicense, translate, sell, reverse engineer, decompile or disassemble any portion of the Website or our Services;</li>
                        <li>Remove any copyright, trademark, or other proprietary rights notices contained on the Website or applied to our Services;</li>
                        <li>“Frame” or “mirror” any part of the Website or our Services without our prior written authorization;</li>
                        <li>Use any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine,” or in any way reproduce or circumvent the navigational structure or presentation of the Website or its contents;</li>
                        <li>Harvest or collect information about Website visitors, Teachers, or Students without their express consent;</li>
                        <li>Create more than one profile without our express written consent;</li>
                        <li>Permit anyone else whose account or subscription was terminated, or who is not a Student, to use our Services through your subscription, username or password;</li>
                        <li>Engage in commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes;</li>
                        <li>Transfer your account or user ID to another party without our consent;</li>
                        <li>Be disruptive in any lesson or group instruction;</li>
                        <li>Solicit any Teacher or user to work with or for another company for employment, independent contracting services, performances, or other service; or</li>
                        <li>Engage in any communication related to sexual conduct, nudity, or which expresses profanity</li>
                    </ul>
                    <h4>7. Pricing</h4>
                    <p>Lesson prices are agreed to at the time of payment for the number of lessons purchased. Lesson prices may vary by Teacher and lesson type and are subject to change at any time. Students and Teachers are obligated to honor the prices established at the time of payment. Refunds are not provided for acts taken in violation of this Agreement or for technical failures, power outages or unreliable internet connections beyond our control.</p>
                    <h4>8. Term</h4>
                    <p>This Agreement will remain in full force and effect while you use our Services and/or as a Student. You may stop being a Student at any time, for any reason. To help us analyze and improve our Services, you may be asked to provide a reason for your resignation/cancellation. We may terminate your Studentship at any time through notice to your email address on file. If we terminate your Studentship because you have breached this Agreement, you will not be entitled to any refund of unused subscription fees. All decisions regarding the termination of accounts shall be made in our sole discretion. We are not required to provide you notice prior to terminating your Studentship. We are not required, and may be prohibited, from disclosing a reason for the termination of your account. After your Studentship or subscription is terminated, all terms that by their nature may survive termination of this Agreement shall be deemed to survive such termination.</p>
                    <h4>9. Packs’ expiration dates</h4>
                    <p>By default, lessons are scheduled weekly. Packs have different expiration dates depending on the number of lessons they contain:</p>
                    <p>– Packs of 4 lessons expire 8 weeks (approx. 2 months) after the date of purchase.<br>– Packs of 8 lessons expire 16 weeks (approx. 4 months) after the date of purchase.<br>– Packs of 12 lessons expire 24 weeks (approx. 6 months) after the date of purchase</p>
                    <h4><strong>10. Non-Circumvention</strong></h4>
                    <p>During the term of this Agreement and for two years thereafter, no Student shall, directly or indirectly, circumvent, initiate, solicit, negotiate, contract or enter into any business transactions with any Teacher introduced by us through our Services, without our consent. In case of such circumvention, such Student agrees and guarantees that such Student will pay a legal monetary penalty that is equal to the commission or fee we would have realized in such transactions, had Student not circumvented our rights under this Agreement.</p>
                    <h4><strong>11. No Non-Permitted Use by Student</strong></h4>
                    <p>Use of our Services is only with our permission, which may be revoked at any time, for any reason, in our sole discretion. Illegal and/or unauthorized uses of our Services may be referred for criminal prosecution.</p>
                    <h4><strong>12. Account Security</strong></h4>
                    <p>You are responsible for maintaining the confidentiality of your username and password. You shall not disclose your password to any unauthorized third party and will take sole responsibility for any activities or actions under your ARPEGGIATO Account, whether or not you have authorized such activities or actions. You agree to (a) immediately notify us of any unauthorized use of your username or password or any other breach of security, and (b) ensure that you exit from your account at the end of each session. We will not be liable for any loss or damage arising from your failure to comply with this provision. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information. If you share your computer with others, you may wish to consider disabling any auto-sign in features if linked to your ARPEGGIATO account.</p>
                    <h4><strong>13. Your Interactions withTeachers and Our Limitation of Liability</strong></h4>
                    <ul>
                    <li>YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH TEACHERS AND OTHER STUDENTS. YOU UNDERSTAND THAT NOT ALL PROVIDERS ON THE WEBSITE HAVE BACKGROUND CHECKS AND THAT WE DO NOT PERFORM BACKGROUND CHECKS ON TEACHERS AND OTHER STUDENTS. WE DO NOT ATTEMPT TO VERIFY THE QUALIFICATION OR STATEMENTS OF OUR TEACHERS. WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF MEMBERS OR THEIR COMPATIBILITY WITH ANY CURRENT OR FUTURE MEMBERS.</li>
                    <li>NO STUDENT IS OBLIGATED TO MEET OFFLINE WITH OTHER STUDENTS OR TEACHERS. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL INTERACTIONS WITH OTHER TEACHERS AND STUDENTS. YOU UNDERSTAND THAT WE MAKE NO GUARANTEES, EITHER EXPRESS OR IMPLIED, REGARDING YOUR ULTIMATE EXPERIENCE WITH STUDENTS OR TEACHERS YOU MEET THROUGH OUR SERVICES. YOU DO SO AT YOUR OWN RISK AND AT YOUR OWN PERIL.</li>
                    <li>IN NO EVENT SHALL ARPEGGIATO AND/OR ITS OFFICERS, EMPLOYEES, AGENTS OR AFFILIATES BE LIABLE TO YOU OR ANY THIRD PERSON FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, EXEMPLARY, AND/OR INCIDENTAL, INCLUDING LOST PROFITS, ARISING OUT OF OR RELATING TO ANY ACT OR OMISSIONS OF YOU, ARPEGGIATO AND/OR ITS OFFICERS, EMPLOYEES, AGENTS OR AFFILIATES, OUR THIRD PARTY INVESTIGATIVE SERVICE, ANY MEMBER OR ANYONE ELSE IN CONNECTION WITH THE USE OF OUR SERVICES OR THE WEBSITE, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER USERS OF OUR SERVICES OR PERSONS YOU MEET THROUGH OUR SERVICES, OR OTHERWISE.</li>
                    <li>&nbsp;NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, AND TO THE MAXIMUM EXTENT ALLOWED BY LAW,THE LIABILITY OF ARPEGGIATO AND/OR ITS OFFICERS, EMPLOYEES, AGENTS AND AFFILIATES, TO YOU AND YOUR HEIRS AT LAW FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, SHALL BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO US FOR OUR SERVICES DURING THE PRECEDNG TWELVE MONTHS, UP TO A MAXIMUM OF FIVE THOUSAND DOLLARS.</li>
                    </ul>
                    <h4><strong>14. Content within our Services</strong></h4>
                    <ul>
                    <li>Proprietary Rights.<br>
                    The Website and our Services contains the copyrighted material, trademarks, and other proprietary information of ARPEGGIATO, and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.</li>
                    <li>Reliance on Content, Advice, Etc.<br>
                    Opinions, advice, statements, reviews, offers, or other information or content made available through our Services, but not directly by us, are those of their respective authors, and should not necessarily be relied upon. Such authors are solely responsible for such content.</li>
                    </ul>
                    <h4><strong>15. Content Posted by You</strong></h4>
                    <p>As a STUDENT, you may be able to post Content (herein defined as uploading videos, photos, providing reviews, and other forms of user contributions to the Site or Service). You are solely responsible for the Content that you publish or display (hereinafter, “post”) using our Services, or transmit or display to other Students and/or Teachers. You will not post on the Website or Service, or transmit or display to other Students and/or Teachers, any defamatory, inaccurate, false, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, or illegal material, or any material that infringes or violates another party’s rights (including, but not limited to, intellectual property rights, and rights of privacy and publicity). By posting Content using our Services, including attending master classes or workshops through ARPEGGIATO or any other part of the ARPEGGIATO Service, you automatically grant, and you represent and warrant that you have the right to grant, to us, our affiliates, licensees and successors, an irrevocable, perpetual, non-exclusive, fully paid, worldwide license to use, copy, perform, display, record, reproduce, adapt, modify and distribute such information and content and to prepare derivative works of, or incorporate into other works, such information and content, and to grant and authorize sublicenses of the foregoing. You further represent and warrant that public posting and use of your content by us will not infringe or violate the rights of any third party.</p>
                    <h4><strong>16. Customer Service</strong></h4>
                    <p>We may provide assistance and guidance through our customer care representatives. Telephone calls between you and our customer care representatives may be recorded for quality assurance purposes. If we feel that your behavior towards any of our customer care representatives or other employees is at any time threatening or offensive, we reserve the right to immediately terminate your membership and you will not be entitled to any refund of unused subscription fees.</p>
                    <h4><strong>17. Modification to Services</strong></h4>
                    <p>We reserve the right at any time to modify or discontinue, temporarily or permanently, our Services (or any part thereof) with or without notice. You agree that we shall not be liable to you or to any third party for any modification, suspension or discontinuance of our Services. Notification of changes to our Services may be posted within your Student profile, on the Website or communicated through our Services.</p>
                    <h4><strong>18. Copyright Policy</strong></h4>
                    <p>The Digital Millennium Copyright Act of 1998 (the “DMCA”) provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. Copyright law. You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. Without limiting the foregoing, if you believe that your work has been copied and posted on the Website or used in any of our Services in a way that constitutes copyright infringement, please contact us immediately at arpeggiatomusicschool@gmail.com</p>
                    <h4><strong>19. Member Disputes</strong></h4>
                    <p>You are solely responsible for your interactions with other Students and/or Teachers. We reserve the right, but not the obligation, to monitor disputes between you and other Students and/or Teachers.</p>
                    <h4><strong>20. Privacy and Communications</strong></h4>
                    <p>When you become a Student, you agree and consent to receive email messages from us. These emails may be transactional or relationship communications relating to our Services, such as administrative notices and service announcements or changes, or emails containing commercial offers, promotions or special offers from us.</p>
                    <h4><strong>21. Links</strong></h4>
                    <p>Our Services may provide, or third parties may provide, links to other websites or resources. Because we have no control over such sites and resources, you acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of, or reliance upon, any such Content, goods or services available on or through any such site or resource.</p>
                    <h4><strong>22. Release and Indemnification</strong></h4>
                    <p>IN THE EVENT THAT YOU HAVE A DISPUTE WITH ONE OR MORE TEACHERS OR STUDENTS OR OTHER USERS OF OUR SERVICES (INCLUDING, WITHOUT LIMITATION, ANY DISPUTE BETWEEN MEMBERS REGARDING ANY TRANSACTION OR USER CONTRIBUTED CONTENT) OR ANY THIRD PARTY WEBSITE THAT MAY BE LINKED TO OR FROM OR OTHERWISE INTERACT WITH OUR SERVICES, INCLUDING WITHOUT LIMITATION ANY SOCIAL MEDIA SITE, YOU HEREBY AGREE TO RELEASE, REMISE AND FOREVER DISCHARGE ARPEGGIATO AND OUR RESPECTIVE AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, AND ALL OTHER RELATED PERSONS OR ENTITIES FROM ANY AND ALL MANNER OF RIGHTS, CLAIMS, COMPLAINTS, DEMANDS, CAUSES OF ACTION, PROCEEDINGS, LIABLITIES, OBLIGATIONS, LEGAL FEES, COSTS, AND DISBURSEMENTS OF ANY NATURE WHATSOEVER, WHETHER KNOWN OR UNKNOWN, WHICH NOW OR HEREAFTER ARISE FROM, RELATE TO, OR ARE CONNECTED WITH SUCH DISPUTE AND/OR YOUR USE OF THE WEBSITE AND OUR SERVICES.</p>
                    <p>YOU HEREBY AGREE TO INDEMNIFY, DEFEND AND HOLD ARPEGGIATO AND OUR RESPECTIVE AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, AND ALL OTHER RELATED PERSONS OR ENTITIES (COLLECTIVELY, THE “INDEMNIFIED PARTIES”) HARMLESS FROM AND AGAINST ANY AND ALL LIABILITY AND COSTS INCURRED BY THE INDEMNIFIED PARTIES IN CONNECTION WITH ANY CLAIM ARISING OUT OF YOUR USE OF THE WEBSITE, OUR SERVICESOR OTHERWISE RELATING TO THE BUSINESS WE CONDUCT (INCLUDING, WITHOUT LIMITATION, ANY POTENTIAL OR ACTUAL COMMUNICATION, TRANSACTION OR DISPUTE BETWEEN YOU AND ANY OTHER MEMBER OR THIRD PARTY), ANY CONTENT POSTED BY YOU OR ON YOUR BEHALF OR POSTED BY OTHER USERS OF YOUR ACCOUNT TO THE WEBSITE, ANY USE OF ANY SERVICES OR SERVICE PROVIDED BY A THIRD PARTY PROVIDER, ANY USE OF A TOOL OR SERVICES OFFERED BY US THAT INTERACTS WITH A THIRD PARTY WEBSITE, INCLUDING WITHTOUT LIMITATION ANY SOCIAL MEDIA SITE OR ANY BREACH BY YOU OF THESE TERMS OR THE REPRESENTATIONS, WARRANTIES AND COVENANTS MADE BY YOU HEREIN, INCLUDING WITHOUT LIMITATION, ATTORNEYS’ FEES AND COSTS. YOU SHALL COOPERATE AS FULLY AS REASONABLY REQUIRED IN THE DEFENSE OF ANY CLAIM. WE RESERVE THE RIGHT, AT OUR OWN EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER OTHERWISE SUBJECT TO INDEMNIFICATION BY YOU AND YOU SHALL NOT IN ANY EVENT SETTLE ANY MATTER WITHOUT OUR WRITTEN CONSENT. THIS SECTION SURVIVES TERMINATION OF THIS AGREEMENT.</p>
                    <h4><strong>23. Commercial Release</strong></h4>
                    <p>By using the Service, you hereby authorize us and our agents, successors and assigns to photograph and/or videotape and/or record you and/or your voice(s), with prior consent from all parties, and to utilize such photographs/videos and/or voice transcriptions or recording for any commercial purpose, including, but not limited to, the promotion and marketing of our Services, without further compensation whatsoever of any kind as a result of such use.</p>
                    <h4><strong>24. Miscellaneous</strong></h4>
                    <p>If either party does not enforce any right or remedy available under this Agreement, that failure is not a waiver of the right or remedy for any other breach or failure by the other party. Our waiver of any requirement in any one instance is not a general waiver of that requirement and does not amend this Agreement. If any part of this Agreement is held invalid or unenforceable, that part is interpreted consistent with applicable laws as nearly as possible to reflect the original intentions of the parties and the rest of this Agreement remains in full force and effect. The provisions of this Agreement that are contemplated to be enforceable after the termination of this Agreement, including, without limitation Sections 4, 9, 11, 12, 21 &amp; 22, shall survive termination of this Agreement. This Agreement, including the documents referenced herein, contains the entire agreement between you and us regarding the use of the Website and/or our Services. This Agreement is binding on the parties hereto and their successors and assigns.</p>
                    <h4><strong>25. Duty of Confidentiality</strong></h4>
                    <p>The Student agrees that they will not divulge to any other person, firm, organization or company any confidential or proprietary information.</p>
                    <h4><strong>26. Refund Policy</strong></h4>
                    <p>If you are not completely satisfied, we’ll help you find a new teacher or you can receive a refund for any future unused lessons within 60 days from the date of purchase for 4-packs, 120 days for 8-packs, 180 days for 12-packs. Simply contact us at least 24 hours before your next lesson to cancel your lessons and receive a refund.</p>
                    <p>I HAVE READ THIS AGREEMENT AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE.<br>
                    All trademarks, service marks, and logos used on the Site are the trademarks, service marks, or logos of their respective owners.</p>
                    <h4><strong>Please also read our Student Guidelines:</strong></h4>
                    <p>We ask all ARPEGGIATO Students to follow certain rules. Our guidelines supplement our Terms of Use and are conditional to the use of our Website and Service(s). As an ARPEGGIATO Student, please:</p>
                    <ol>
                        <li>Be punctual to ensure that you’ll receive a full fifty-five (55) minutes lesson. If the Student is late, it is up to the Teacher’s discretion whether to finish the lesson at the original end time or to honor the full fifty-five (55) minutes;</li>
                        <li>Copy ARPEGGIATO in all your emails with your Teacher (arpeggiatomusicschool@gmail.com);</li>
                        <li>Pay for lessons in advance (pack of 4, 8 or 12 lessons at a time) and alert ARPEGGIATO if you have any trouble with billing;</li>
                        <li>Understand and comply with our refund policy;</li>
                        <li>Manage all schedule changes with your Teacher and always copy ARPEGGIATO in these emails. Understand and comply with the rescheduling rules: if you need to cancel or reschedule, please provide at least 24 hours’ notice. If you have a future conflict, discuss the possibility of rescheduling with your teacher. However, missed lessons or lessons canceled within 24 hours are nonrefundable.</li>
                        <li>Inform directly ARPEGGIATO if you wish to change Teacher;</li>
                        <li>Accept that your Teacher records your lesson when asked by ARPEGGIATO. These recordings will be only used for quality control and feedback from the Director of ARPEGGIATO. If recordings are to be used for any other purposes, consent of all parties will be required first;</li>
                        <li>Do not solicit ARPEGGIATO Teachers to switch to private lessons directly with you;</li>
                        <li>Do not accept ARPEGGIATO Teachers’ request to give you lessons through their personal studio. Alert immediately ARPEGGIATO if you receive this type of request from your Teacher.</li>
                        <li>By default, lessons are scheduled weekly. Packs have different expiration dates depending on the number of lessons they contain:<br>– Packs of 4 lessons expire 8 weeks (approx. 2 months) after the date of purchase.<br>– Packs of 8 lessons expire 16 weeks (approx. 4 months) after the date of purchase.<br>– Packs of 12 lessons expire 24 weeks (approx. 6 months) after the date of purchase.</li>
                    </ol>
                    <h4><strong>Thank you!</strong><br>
                    <strong>Arpeggiato Team</strong></h4>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}